@import url("subscribe.css");
@import url("posts.css");
@import url("content.css");

* {
    font-family: 'Montserrat', sans-serif;
}

.post-header {
    height: 70px;
    line-height: 80px;
    background-color: black;
    font-family: 'Tangerine', serif;
    font-size: 50px;
    justify-content: center;
    color: white;
    letter-spacing: 5px;
    padding-left: 20px;
    margin: 0px;
}
#container {
    width: 100%;
    height: 100%;
}

footer {
    grid-area: ft;
    height: 40px;
}
  
@media(min-width:990px) {
    .submit-btn {
        width: 150px;
    }
    h1 {
        text-align: left;
    }
  }