.blog-list {
    grid-area: pst;
    width: 100%;
}
.post-heading {
    font-size: 35px;
    color: cornflowerblue;
    font-weight: 900;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

.card-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    padding: 30px;
    max-width: 300px;
    border: 1px solid #666;
}

.post-image 
{
    max-width: 100%;
}
.post-title {
    line-height: 70px;
    text-align: left;
    font-size: 18px;
}

.more-link {
    cursor: pointer;
    line-height: 15px;
    font-size: 23px;
    color: cornflowerblue;
    text-decoration: none;
}

.more-link:hover {
    color: #4661a3;
}